
.serie {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    margin: 1rem auto 1rem auto;
    border-top: 1px #6a6a6a solid;
    border-bottom: 1px #6a6a6a solid;
    box-shadow:  10px 10px 40px #5d5d5d,
                -10px -10px 40px #777777;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.serie_hover:hover{
    background: #6a6a6a;
    box-shadow: inset 10px 10px 40px #5d5d5d,
    inset -10px -10px 40px #777777;
}


.serie_firstRow {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.serie_firstRow_title {
    display: block;
    color: #780000;
}

.serie_firstRow_text {
    color: #780000;
}

.serie_secondRow_star {
    font-size: 1.2rem !important;
    margin-right: -0.30rem;
}

