@media only screen and (max-width: 500px) {
    .gird {
        margin: 0.5rem !important;
        grid-gap: 1rem !important;

        grid-template-areas:
        "session session"
        "episode episode"
        "stars stars"
        "gridDate gridDate"
        "gridDate gridDate"
        "uneditableDate uneditableDate" !important
    }

    .gird_container_episode {
        padding: 0 2rem !important;
    }

    .grid_stars {
        padding-bottom: 0 !important;
    }

    .dateGrid_desc_date{
        margin: 0 0.5rem !important;
    }

}

.card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    border-radius: 1rem;
    background-color: #868686;
    z-index: 100;
    box-shadow: 9px 10px 25px 6px rgba(53, 53, 53, 0.75);
}

.gird {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 1rem;

    grid-template-areas:
        "session stars"
        "episode stars"
        "gridDate gridDate"
        "gridDate gridDate"
        "uneditableDate uneditableDate"
}

.header {
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #6a6a6a;
    text-align: center;

}

.header_title {
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: #780000;
}

.grid_container_session {
    grid-area: session;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.gird_container_episode {
    grid-area: episode;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 2rem 2rem;
}

.grid_stars {
    grid-area: stars;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 2rem;
}


.dateGrid {
    grid-area: gridDate;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    grid-template-areas:
        "descStartDate descEndDate"
        "valueStartDate valueEndDate"
}

.dateGrid_item_desc_startDate {
    grid-area: descStartDate;
    /* box-shadow: 0px 10px 10px -10px rgba(255,255,255,1); */
}

.dateGrid_item_desc_endDate {
    grid-area: descEndDate;
}

.dateGrid_desc_date {
    text-align: center;
    margin: 0 3rem;
    border-bottom: 1px solid black;
}

.dateGrid_item_value_startDate {
    grid-area: valueStartDate;
}

.dateGrid_item_value_endDate {
    grid-area: valueEndDate;
}

.skewCard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    margin: 0 2rem;
}


.grid_container_createdDate {
    grid-area: uneditableDate;
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}



