
@media only screen and (max-width: 600px)  {
    .grid_date_text {
        margin: 0 2rem !important;
    }
}


@media only screen and (max-width: 500px) {
    .grid {

        grid-template-areas:
        "title title"
        "episode_season episode_season"
        "stars stars"
        "date date"
        "cancel_btn submit_btn" !important;
    }

    .grid_date_container {
        display: grid !important;
        justify-content: center !important;
        grid-gap: 1rem;
    }
}

.grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 1rem;

    grid-template-areas:
        "title stars"
        "episode_season stars"
        "date date"
        "cancel_btn submit_btn";

    align-items: center;
}

.item {
    text-align: center;
}


.grid_title_container {
    grid-area: title;
}

.grid_episode_season_container {
    grid-area: episode_season;
    display: flex;
    gap: 1rem;
}

.grid_stars_container {
    grid-area: stars;
    display: grid;
    justify-content: center;
}

.grid_date_container {
    grid-area: date;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid_cancelBtn_container {
    grid-area: cancel_btn;
}

.grid_submitBtn_container {
    grid-area: submit_btn;
}


.grid_date_text {
    margin: 0 4rem;
}

.space {
    margin-top: 1rem;
}