
@media only screen and (max-width: 500px) {
    h1 {
        font-size: 1.5rem !important;
    }
    p {
        font-size: 1rem !important;
    }
}

@media only screen and (max-width: 350px) {
    h1 {
        font-size: 1.25rem !important;
    }
    p {
        font-size: 0.9rem !important;
    }
}

@media only screen and (max-width: 320px) {
    p {
        font-size: 0.8rem !important;
    }
}

@media only screen and (max-width: 290px) {
    p {
        font-size: 0.7rem !important;
    }
}

body {
    background: #353535;
}

h1, h2, h3, p, a, title{
    all: unset;
    font-family: "JetBrains Mono", sans-serif;
}

h1 {
    color: #780000;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    font-weight: 800;
}
