@media only screen and (max-width: 500px) {
    .flex_container{
        flex-direction: column !important;
    }
    .search_container{
        padding: 1rem 1rem 1rem 1rem !important;
    }
    .sort_container{
        padding: 0 1rem 2rem 1rem !important;
    }
}

.card {
    background-color: #777777;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.search_container {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 0.5rem 2rem 1rem;
    flex-grow: 1;
    flex-basis: 0;

}

.sort_container {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 1rem 2rem 0.5rem;
    flex-grow: 1;
    flex-basis: 0;
}


.button {
    display: flex;
    justify-content: right;
    padding: 1rem;
}

.lable {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0.25rem;
}