

.card {
    margin: 1rem auto 1rem auto;
    padding: 0;
    background-color: #868686;
    border-radius: 1rem;
    box-shadow: 9px 10px 25px 6px rgba(53, 53, 53, 0.75);
}

.header {
    padding: 1rem;
    background-color: #6a6a6a;
    border-radius: 1rem 1rem 0 0;
}

.article {
    padding: 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.section_title {
    margin-bottom: 1rem;
    border-bottom: black 1px solid;
}

.setting_input {
    margin-bottom: 1rem;
}

.setting_action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.input{
    display: flex;
    gap: 2rem;
}

.space {
    margin-top: 1rem;
}