
.option option:hover {
    background-color: #780000 !important;
    background: #780000;
}

.option option {
    background-color: #777777;
}

.option option:focus > option:checked {
    background: #000 !important;
}