.form {
    padding: 1rem;
}

.form_password {
    padding-top: 1rem;
}

.form_errorMsg {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

.form_button {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.defaultsLogin {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}