.input {
    all: unset;
    box-sizing: border-box;
    display: inline;
    height: 40px;
    width: 100%;
    min-width: 0;
    background-color: transparent;
    font-family: "JetBrains Mono", sans-serif;
    text-align: left;
    padding: 8.5px 14px;

    border-width: 1px;
    border-style:solid;
    border-color: #780000;
    border-radius: 4px;
}

.input:hover {
    border-color: #c1121f;
}

.input:focus {
    border-width: 2.5px;
    border-color: #c1121f;
}

.input::placeholder {
    color: #555555;
    text-align: left;
}

.icon {
    color: #555555;
    margin-left: -30px;
    transform: translate(0, 6px);
    cursor: pointer;
}

.icon:hover {
    color: #2a2a2a;
}

.error {
    background-color: rgba(193, 18, 31, 0.2);
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input[type=number] {
    -moz-appearance: textfield;
}


