
.react-datepicker-wrapper {
    display: inline;
}

.react-datepicker__input-container input {
    all: unset;
    box-sizing: border-box;
    display: inline;
    height: 40px;
    width: 100%;
    min-width: 0;
    background-color: transparent;
    font-family: "JetBrains Mono", sans-serif;
    text-align: left;
    padding-left: 0.5rem;

    border-width: 1px;
    border-style:solid;
    border-color: #780000;
    border-radius: 4px;
}

.react-datepicker__input-container input:hover {
    border-color: #c1121f;
}

input:focus{
    border-width: 2px;
    border-color: #c1121f;
}

.react-datepicker__input-container input::placeholder {
    color: #555555;
    text-align: left;

}


.react-datepicker {
    font-family: "JetBrains Mono", sans-serif;
    background-color: #868686;
    border-color: #6a6a6a;
}

.react-datepicker__triangle::before {
    border-bottom-color: transparent !important;
}

.react-datepicker__triangle::after {
    border-bottom-color: #6a6a6a !important;
}

.react-datepicker__navigation-icon::before {
    border-color: black;
}

.react-datepicker__header {
    background-color: #6a6a6a;
    border-bottom-color: #868686;
}

.react-datepicker__month {
    background-color: #868686;
}

.react-datepicker__day:hover {
    background-color: #6a6a6a;
}

.react-datepicker__day--selected {
    background-color: #780000;
}

.react-datepicker__day--keyboard-selected{
    background-color: #780000;
}

.react-datepicker__day--today{
    color: white;


}


