
.react-datepicker-wrapper {
    display: inline;
}

.react-datepicker__input-container input {
    all: unset;
    box-sizing: border-box;
    display: inline;
    height: 40px;
    width: 100%;
    min-width: 0;
    background-color: transparent;
    font-family: "JetBrains Mono", sans-serif;
    text-align: left;
    padding-left: 0.5rem;

    border-width: 1px;
    border-style:solid;
    border-color: #780000;
    border-radius: 4px;
}

.react-datepicker__input-container input:hover {
    border-color: #c1121f;
}

input:focus{
    border-width: 2px;
    border-color: #c1121f;
}

.react-datepicker__input-container input::placeholder {
    color: #555555;
    text-align: left;

}