
.serie {
    padding: 1%;
    margin: 2% auto 2% auto;
    border-top: 1px #868686 solid;
    border-bottom: 1px #868686 solid;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.serie:hover{
    background: #868686;
}


.serie_firstRow {
    align-items: center;
    display: flex;
    gap: 1rem;
}

title {
    display: block;
}

.serie_secondRow_star {
    font-size: 1.2rem !important;
    margin-right: -0.30rem;
}
